{% extends 'home/index.html.twig' %}

{% block body %}
	<div class="border-grid border-b">
		<div class="container-wrapper">
			{% block content %}
            {% endblock %}
		</div>
	</div>
	<div class="border-grid border-b">
		<div class="container-wrapper">
			{% include 'home/home.faq.html.twig'%}
		</div>
	</div>

{% endblock %}
