{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('account/account_style') }}
{% endblock %}

{% block header %}
	{% include 'home/header.html.twig' %}
{% endblock %}


{% block body %}
	{% if app.user %}
		<div class="mb-3">
			You are logged in as
			{{ app.user.userIdentifier }},
			<a href="{{ path('logout') }}">Logout</a>
		</div>
	{% endif %}

	<main class="border-grid border-b">
		<div
			class="container-wrapper">
			{# min-h-[calc(100vh-10rem-2px)] header & footer height + border #}
			<div class="container min-h-[calc(100vh-10rem-2px)] py-0 px-0 h-full flex items-center justify-center">
				<div class="form-container m-10 h-auto px-4 sm:px-6 md:px-8 py-4  sm:py-6 md:py-8 bg-white shadow rounded w-11/12 sm:w-9/12 md:w-8/12 lg:w-6/12 xl:w-4/12">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
	</main>

{% endblock %}


{% block footer %}
	{% include 'home/footer.html.twig' %}
{% endblock %}
