{% extends 'account/index.html.twig' %}

{% block title %}Signup - Account | The &lt;/blog&gt; Blog
{% endblock %}

{% block content %}
	<div class="form-header mb-6 flex flex-col items-center">
		<h1 class="flex justify-center items-center w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 lg:w-28 lg:h-28 2xl:w-28 2xl:h-28 font-bold text-sm sm:text-lg md:text-xl lg:text-2xl text-white text-center title-bg rounded-full md:mb-2 lg:mb-4">
			&lt;/blog&gt;
		</h1>
		<h3 class="font-bold text-lg md:text-xl lg:text-3xl text-center font-semibold">Create your Account</h3>
		<p class="font-light">Enter the fields below to get started</p>
	</div>

	<div class="form-content flex flex-col gap-4">
		<div class="signup-form">

			{# {{form(form)}} #}
			{# {% include 'account/forms/form.signup.html.twig', with {'form': form} %} #}
			{% include 'account/forms/form.signup.html.twig' with {'form': form} %}

				<div class="create-account flex gap-2"> <p>Already have an account?</p>
				<a class="action-link" href="/login">Log in</a>
			</div>
		</div>

		<div class="form-separator flex items-center gap-4">
			<div class="flex-1 h-px bg-gray-300"></div>
			<span class="text-gray-600 text-sm font-semibold">or Continue with</span>
			<div class="flex-1 h-px bg-gray-300"></div>
		</div>
		<button class="btn-google inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md transition-colors shadow w-full px-2 h-12 text-sm" type="submit">
			<i class="icon-mail text-primary h-5 w-5"></i>
			Google
		</button>
	</div>


{% endblock %}
