{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('contact/style') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('contact/script') }}
{% endblock  %}

{% block header %}
	{% include 'home/header.html.twig' %}
{% endblock %}

{% block title %}Contact | The &lt;/blog&gt; Blog
{% endblock %}

{% block body %}

	<main class="border-grid border-b">

		<div class="container-wrapper min-h-[calc(100vh-10rem-2px)]">

			<div class="section-wrapper relative">

				<section class="banner text-center 2xl:text-left h-96 p-8 sm:p-12 py-16 flex flex-col gap-2 sm:gap-4">
				
					<h1 class="font-bold text-3xl sm:text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl place-self-center 2xl:place-self-start lg:w-[50rem] xl:w-[53rem] 2xl:[56rem] text-gray-800">
						<span class="text-white">Say Hi!</span> and tell me about your idea</h1>
					<p class="font-semibold text-lg sm:text-xl text-white">Have any question? Reach out and let's chat.</p>
				
				</section>

				<div class="flex-1 h-2 bg-gray-800"></div>

				<section class="absolute w-full top-40 md:top-44 lg:top-48 py-16 px-4 sm:px-12 lg:px-16 flex justify-center 2xl:w-fit 2xl:right-0">
					{% include 'contact/contact.form.html.twig'%}
				</section>

				<section class="bg-gray-100 p-16 px-4 sm:px-8 md:px-12 lg:px-16 pt-[calc(1040px-17rem)] sm:pt-[calc(980px-16rem)] md:pt-[calc(606px-16rem)] lg:pt-[calc(606px-14rem)] 2xl:pt-16">
	
					{% include 'contact/contact.faq.html.twig'%}

				</section>

			</div>
		
		</div>
	</main>

{% endblock %}


{% block footer %}
	{% include 'home/footer.html.twig' %}
{% endblock %}
