<footer>
	<div class="container-wrapper">
		<div class="container py-6 h-20">
			<div class="footer flex items-center">
				<ul class="flex gap-4 text-xs sm:text-sm md:text-base">
					<li>&copy; 2025</li>
					<li>
						<a href="/terms">Terms</a>
					</li>
					<li>
						<a href="/privacy">Privacy</a>
					</li>
					<li>
						<a href="/cookies">Cookies</a>
					</li>
				</ul>

				<ul class="flex gap-4 ml-auto">
					<li>
						<a href="/facebook">
							<i class="icon-facebook"></i>
						</a>
					</li>
					<li>
						<a href="/github">
							<i class="icon-github"></i>
						</a>
					</li>
					<li>
						<a href="/email">
							<i class="icon-mail"></i>
						</a>
					</li>
					<li>
						<a href="/linkdin">
							<i class="icon-linkedin"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
