{# {% extends 'index.html.twig' %} #}
{% set excludeRoute = ['signup', 'login', 'forgot-password']%}
{% set route = app.request.attributes.get('_route') %}


<header class="border-grid sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
	<div class="container-wrapper">
		<div class="container flex h-20 items-center">
			<div class="mr-4 hidden md:flex">
				<a class="flex justify-center items-center w-16 h-16 rounded-full title-bg text-white bg-primary font-bold mr-4 lg:mr-6 text-sm" href="/">
					&lt;/blog&gt
				</a>
				<nav class="flex items-center gap-4 text-sm xl:gap-6">
					<a class="rounded-md  p-2 transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none" href="/blog">Blogs</a>
					<a class="rounded-md  p-2 transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none" href="/">About</a>
					<a class="rounded-md  p-2 transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none" href="/">Contact</a>
				</nav>
			</div>

			<button class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md font-medium transition-colors focus-visible:outline-none focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 hover:text-accent-foreground py-2 -ml-2 mr-2 h-8 w-8 px-0 text-base hover:bg-transparent focus-visible:bg-transparent focus-visible:ring-0 focus-visible:ring-offset-0 md:hidden" type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="radix-:R15u6ja:" data-state="closed">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="!size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
				</svg>
				<span class="sr-only">Toggle Menu</span>
			</button>

			{% if route not in excludeRoute and not app.user %}
				<div class="flex flex-1 items-center gap-2 justify-end">
					<nav class="flex items-center gap-4 text-sm xl:gap-6">
						<a class="rounded-md transition-colors p-2 hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none" href="/login">Log in</a>
						<a class="btn-submit text-white rounded-md transition-colors p-2" href="/signup">Sign up</a>
					</nav>
				</div>
			{% elseif app.user %}
				<div class="flex flex-1 items-center gap-2 justify-end">
					<nav class="flex items-center gap-4 text-sm xl:gap-6">
						<a class="rounded-md transition-colors p-2 hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none" href="/dashboard">

							<div class="flex gap-2 items-center">
								<span class="flex h-8 w-8 items-center justify-center rounded-full bg-secondary text-white randomBg">{{ app.user.firstName|first|capitalize}}{{ app.user.lastName|first|capitalize}}</span>
								{{ app.user.firstName | capitalize }}
							</div>

						</a>
						<a class="btn-submit text-white rounded-md transition-colors p-2" href="/logout">Logout</a>
					</nav>
				</div>

			{% endif %}
		</div>
	</div>
</header>
