{# {% extends 'index.html.twig' %} #}
{% set excludeRoute = ['signup', 'login', 'forgot-password']%}
{% set route = app.request.attributes.get('_route') %}


<header class="border-grid sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
	<div class="container-wrapper">
		<div class="container flex h-20 items-center">
			<div class="mr-4 hidden lg:flex">
				<a class="flex justify-center items-center w-16 h-16 rounded-full title-bg text-white bg-primary font-bold mr-4 lg:mr-6 text-sm" href="/">
					&lt;/blog&gt
				</a>
				<nav class="flex items-center gap-4 text-sm xl:gap-6">
					<a class="rounded-md  p-2 transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none" href="/blog">Blogs</a>
					<a class="rounded-md  p-2 transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none" href="/about">About</a>
					<a class="rounded-md  p-2 transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none" href="/contact">Contact</a>
				</nav>
			</div>

			<button id="headerBtn" class="rounded-md font-medium transition-colors text-primaryTheme hover:text-primaryTheme-500 lg:hidden" type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="radix-:R15u6ja:" data-state="closed">
				<i class="icon-menu icon-menu text-2xl"></i>
			</button>

			{% if route not in excludeRoute and not app.user %}
				<div class="flex flex-1 items-center gap-2 justify-end">
					<nav class="flex items-center gap-4 text-sm xl:gap-6">
						<a class="rounded-md transition-colors p-2 hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none" href="/login">Log in</a>
						<a class="btn-submit text-white rounded-md transition-colors p-2" href="/signup">Sign up</a>
					</nav>
				</div>
			{% elseif app.user %}
				<div class="flex flex-1 items-center gap-2 justify-end">
					<nav class="flex items-center gap-4 text-sm xl:gap-6">
						<a class="rounded-md transition-colors p-2 hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none" href="/dashboard">

							<div class="flex gap-2 items-center">
								<span class="flex h-8 w-8 items-center justify-center rounded-full bg-secondary text-white randomBg">{{ app.user.firstName|first|capitalize}}{{ app.user.lastName|first|capitalize}}</span>
								{{ app.user.firstName | capitalize }}
							</div>

						</a>
						<a class="btn-submit text-white rounded-md transition-colors p-2" href="/logout">Logout</a>
					</nav>
				</div>

			{% endif %}
		</div>
	</div>
</header>
