Dockerfile
env/
./bundles
node_modules/
jspm_packages/
docker-compose.yml
docker-compose-dev.yml
docker-compose-gitlab.yml
docker-compose-phpunit.yml
phraseapp-osx
infrastructure/
nginx/
mysql/
.dockerignore
.git
.eslintrc.json
.gitlab-ci.yml
.tmp
.*
!.phraseapp.yml
README.md
vendor/
!vendor/autoload_runtime.php
var/cache/
var/logs/
var/nginx/
var/phpfpm/
.DS_Store
**/.DS_Store
.idea/
.vscode/
vendor

public/*_header_bar_*.html
public/dist/
public/bundles/
public/.well-known
