@import '/assets/styles/app.css';
@import '../home/header.css';

body {
  background-color: hsl(var(--background) / 0.6);
}

.border-grid {
  border-style: dashed;
  border-color: hsl(var(--border-theme) / 0.3);
}

.default-btn,
.title-bg {
  background-color: hsl(var(--primary-theme));
}

.btn-google:hover {
  background-color: hsl(var(--primary-theme) / 0.1);
}

.action-link {
  color: hsl(var(--primary-theme));
}

.text-password-help {
  color: hsl(var(--primary) / 0.4);
}

.text-password-help.active {
  color: hsl(var(--primary-theme));
}
