<section>
    <div class="bg-gray-100 p-16 px-4 sm:px-8 md:px-12 lg:px-16 flex flex-col lg:flex-row gap-4 sm:gap-8 lg:gap-12 2xl:gap-16 items-center justify-center">
        <div class="flex-1">
            {% include 'contact/contact.faq.html.twig'%}
        </div>

        <div class="h-48 lg:h-96 w-full lg:w-96 flex flex-col sm:flex-row lg:flex-col items-center justify-center gap-4 bg-contact rounded-xl shadow-lg text-white p-4">
            <div class="h-fit w-fit text-center sm:text-left">
                <h1 class="text-2xl font-bold">Have a question?</h1>
                <h2 class="text-2xl font-bold">We are here to answer.</h2>
            </div>
            <a class="link-contact text-xl md:text-2xl lg:text-3xl px-8 py-4 flex items-center rounded-full font-bold bg-white text-gray-800 shadow-md" href="/contact">Get in touch</a>
        </div>
    </div>
</section>