@import '/assets/styles/app.css';
@import 'header.css';
@import '../components/blog.css';
/* @import "public/font/Allison-Regular.ttf"; */
/* @import url('https://fonts.googleapis.com/css2?family=Allison&display=swap'); */
body {
  background-color: hsl(var(--background) / 0.6);
}

@font-face {
  font-family: 'Allison';
  src: url('/assets/font/Allison-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.slogan {
  font-family: 'Allison', serif;
  font-weight: 400;
  font-style: normal;
  color: hsl(var(--secondary-theme));
}

.border-grid {
  border-style: dashed;
  border-color: hsl(var(--border-theme) / 0.3);
}

.round-corner {
  border-radius: 2em;
  border: 1px solid hsl(var(--border-theme) / 0.3);
}

.blog-navigation {
  border-radius: 2em;
  /* min-width: 180px; */
  text-align: center;
  color: hsl(var(--secondary-theme));
}

.blog-navigation.active {
  background-color: hsl(var(--border-theme) / 0.3);
}

.carousel-item {
  flex: 0 0 33.33% !important;
  max-width: 33.33% !important;
}
