@import '/assets/styles/app.css';
@import 'header.css';
@import '../components/blog.css';
@import '../contact/faq.section.css';

#bodyWrapper {
  background-color: hsl(var(--background) / 0.6);
}

@font-face {
  font-family: 'Allison';
  src: url('/assets/font/Allison-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.slogan {
  font-family: 'Allison', serif;
  font-weight: 400;
  font-style: normal;
  color: hsl(var(--secondary-theme));
}

.border-grid {
  border-style: dashed;
  border-color: hsl(var(--border-theme) / 0.3);
}

.round-corner {
  border-radius: 2em;
  border: 1px solid hsl(var(--border-theme) / 0.3);
}

.blog-navigation {
  border-radius: 2em;
  text-align: center;
  color: hsl(var(--primary-theme));
}

.blog-navigation.active {
  background-color: hsl(var(--primary-theme));
  color: white;
  font-weight: 500;
  scale: 1.1;
}

.carousel-item {
  flex: 0 0 33.33% !important;
  max-width: 33.33% !important;
}

@media (min-width: 640px) {
  .carousel-item {
    flex: 0 0 25% !important; 
    max-width: 25% !important;
  }
}

@media (min-width: 1024px) {
  .carousel-item {
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.featureCard-animate {
  animation: fadeSlideIn 0.3s ease-out;
}

.bg-contact {
  background: linear-gradient(
    135deg,
    hsl(176, 43%, 45%) 0%,
    hsl(176, 43%, 47%) 40%,
    hsl(176, 43%, 53%) 60%,
    hsl(176, 43%, 55%) 100%
  );
}

.link-contact:hover{
  background: linear-gradient(
    135deg,
    rgb(215 217 221) 0%,
    rgb(222 224 229) 25%,
    rgb(229 231 235) 50%,
    rgb(236 238 242) 75%,
    rgb(242 244 248) 100%
  );
  opacity: 0.9;
}