{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('about/style') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('about/script') }}
{% endblock  %}

{% block title %}About | The &lt;/blog&gt; Blog
{% endblock %}

{% block header %}
	{% include 'home/header.html.twig' %}
{% endblock %}


{% block body %}

<main class="border-grid border-b">
    <div class="container-wrapper pt-16 pb-8">

    <section class="first-section flex flex-col items-center justify-center gap-2 pb-8">
        <div class="flex items-center bg-white border px-4 py-2 rounded-full shadow">
            <span class="block h-3 w-3 rounded-full  border-2 border-primaryTheme bg-teal-400 mr-1"></span> ✒️ About <strong>&lt;/blog&gt</strong>
        </div>
        
        <div class="title-intro max-w-3xl px-4 text-center font-semibold flex items-center gap-2 flex-col">
            <h1 class="text-2xl sm:text-3xl lg:text-4xl w-fit ">
                Welcome to our modern blogging platform — a clean, fast, and developer-friendly CMS built with cutting-edge web technologies.
            </h1>
            <p class="text-sm sm:text-base  max-w-lg text-zinc-400 w-fit">
                Whether you're a casual writer or a seasoned developer, this platform was built to make publishing content simple and delightful.
            </p>
        </div>
    </section>

    {% include 'about/about.techstack.html.twig'%}

    </div>
</main>

<main class="border-grid border-b">
    <div class="container-wrapper">

        {% include 'about/about.description.html.twig'%}

    </div>
</main>

<main class="border-grid border-b">
    <div class="container-wrapper">

        <section class="third-section flex flex-col items-center">

            <div class="wrapper px-4 py-16 sm:px-16 flex flex-col items-center">
                <div class="flex items-center bg-white border px-4 py-2 rounded-full shadow mb-4">
                    <span class="block h-3 w-3 rounded-full  border-2 border-primaryTheme bg-teal-400 mr-1"></span> 🚀 Why I Built This
                </div>

                <h1 class="max-w-3xl font-semibold text-2xl sm:text-3xl lg:text-4xl text-center mb-4">I needed a blog that’s not only fast and flexible but also fully customizable.
            This CMS is my take on a lean, modern alternative — one where you can shape the experience to match your exact needs.</h1>

                <div class="h-20 w-20 aspect-square p-1 bg-primaryTheme flex items-center justify-center rounded-full">
                    <img loading="lazy"  class="object-cover" src="{{ asset('img/user/admin.webp')}}" alt="admin image" width="80" height="80">
                </div>
                <h2 class="text-xl font-semibold">Jay Mark B.</h2>
                <p class="text-md font-semibold text-zinc-600">Admin | Full Stack Developer</p>

            </div>
        </section>

    </div>
</main>

<main class="border-grid border-b">
    <div class="container-wrapper">

    {% include 'about/about.features.html.twig'%}

    <div class="flex-1 h-2 bg-gray-800"></div>

    {% include 'home/home.faq.html.twig'%}

    </div>
</main>
{% endblock %}

{% block footer %}
	{% include 'home/footer.html.twig' %}
{% endblock %}
