<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('img/logoTitle.webp') }}" type="image/icon type">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>
	<body id="mainBody">


		<div id="bodyWrapper" class="transition-transform duration-500 transform">
			{% block header %}{% endblock %}
			{% block body %}{% endblock %}
			{% block footer %}{% endblock %}
		</div>

		<div id="popup-container"></div>

		{% block javascripts %}
			{# {{ encore_entry_script_tags('app') }} #}
		{% endblock %}
	</body>
</html>
