@import '/assets/styles/app.css';
@import '../home/header.css';
@import './faq.section.css';
@import './form.section.css';

body {
  background-color: hsl(var(--background) / 0.6);
}

.border-grid {
  border-style: dashed;
  border-color: hsl(var(--border-theme) / 0.3);
}

.banner{
  background: linear-gradient(
    135deg,
    hsl(176, 43%, 45%) 0%,
    hsl(176, 43%, 47%) 40%,
    hsl(176, 43%, 53%) 60%,
    hsl(176, 43%, 55%) 100%
  );
}

@media (min-width: 1536px) {

  .faq-container{
    padding-right: 52rem;
  }
}