@import '/assets/styles/app.css';
@import '../home/header.css';

body {
  background-color: hsl(var(--background) / 0.6);
}

.default-btn,
.title-bg {
  background-color: hsl(var(--primary-theme));
}

.btn-google:hover {
  background-color: hsl(var(--primary-theme) / 0.1);
}

.forgot-link {
  color: hsl(var(--primary-theme));
}

@media (max-width: 639px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
