{% extends 'base.html.twig' %}

{% block title %}Dashboard - Account | The &lt;/blog&gt; Blog
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('dashboard/style') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('dashboard/script') }}
{% endblock %}
{% block body %}

	<div class="flex">

		<div class="flex fixed ml-5 mt-5 z-50 gap-3">
			<button id="side-nav-btn" class="h-8 w-8 cursor-pointer">
				<i class="icon-panels-top-left text-3xl text-primary "></i>
			</button>

			<a href="/">
				<h1 class="text-2xl font-bold text-primaryTheme">&lt;/blog&gt</h1>
			</a>
		</div>

		{% include('dashboard/sideBar.html.twig') %}
		<main id="main-content" class="w-full h-screen p-7 bg-gray-100 transition-all duration-300">
			<div class="content-wrapper pt-10">
				{% block content %}{% endblock %}
			</div>
		</main>
	</div>


{% endblock %}
