@import '/assets/styles/app.css';
@import '/app/Resources/css/components/blog.css';
@import '/app/Resources/css/dashboard/components/sidebar.css';

.article,
.news,
.information {
  border-color: hsl(var(--border));
}

.tox-edit-area iframe {
  background-color: transparent !important;
}

.labelEditor{
  margin-bottom: -2.2rem;
}

.tox-toolbar__primary{
  display: flex;
  flex-direction: row;
  place-content: end;
}

.dropdown-container {
  opacity: 0;
  transform: translateX(10px); /* Start from the right */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none; /* Prevent interaction when hidden */
}

.dropdown-container.visible {
  opacity: 1;
  transform: translateX(0); /* Move to its original position */
  pointer-events: auto;
}
